<div>
    <button mat-button color="primary" routerLink="/"><mat-icon>home</mat-icon></button>
    <span>/</span>
    <button mat-button><mat-icon>folder</mat-icon><span> Blog</span></button>
    <span>/</span>
    <button mat-button color="primary" routerLink="/blog/blog_two"><mat-icon>folder</mat-icon><span> Blog Example 02</span></button>
</div>
<mat-divider class="marginBottom"></mat-divider>
<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">visibility</mat-icon>
            Preview
        </ng-template>
        <div class="mahiContainer">
            <h1 class="mat-h1">Blog 2</h1>
        </div>

    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">code</mat-icon>
            View Code
        </ng-template>
        <div class="mahiContainer">
            <mat-tab-group mat-align-tabs="center">
                <mat-tab>
                    <ng-template mat-tab-label>
                        blog.component.html
                    </ng-template>
                    <div class="mahiContainer">
                        HTML code goes here
                    </div>

                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        blog.component.ts
                    </ng-template>
                    <div class="mahiContainer">
                        TS code goes here
                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        blog.component.scss
                    </ng-template>
                    <div class="mahiContainer">
                        SCSS code goes here
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </mat-tab>

</mat-tab-group>