<div>
  <button mat-button color="primary" routerLink="/"><mat-icon>home</mat-icon></button>
  <span>/</span>
  <button mat-button><mat-icon>folder</mat-icon><span> Login</span></button>
  <span>/</span>
  <button mat-button color="primary" routerLink="/login/login_one"><mat-icon>folder</mat-icon><span> Login Example 01</span></button>
</div>
<mat-divider class="marginBottom"></mat-divider>
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">visibility</mat-icon>
      Preview
    </ng-template>
    <div class="mahiContainer">
      
      <div class="container">
        <mat-card>
          <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <h2>Login</h2>
              <br>
              <mat-error *ngIf="!loginValid">
                The username and password were not recognized
              </mat-error>
              <br>
              <mat-form-field>
                <input matInput placeholder="Username"
                  formControlName="username" required>
                <mat-error>
                  Please provide a valid username
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput type="password" placeholder="Password"
                  formControlName="password" required>
                <mat-error>
                  Please provide a valid password
                </mat-error>
              </mat-form-field>
              <br><br>
              <div>
                <button type="submit" mat-raised-button
                  color="primary">Login</button>&nbsp;
                <button type="reset" mat-raised-button
                  color="warn">Reset</button>
              </div>
              <br><br>
            </form>
          </mat-card-content>
        </mat-card>
      </div>

    </div>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">code</mat-icon>
      View Code
    </ng-template>
    <div class="mahiContainer">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab>
          <ng-template mat-tab-label>
            login.component.html
          </ng-template>
          <div class="mahiContainer">
            <button mat-flat-button color="primary" class="copyCodeBtn"
              (click)="copyCode(htmlCode)"><mat-icon>content_copy</mat-icon>
              Copy code</button>
            <pre>
              {{htmlCode}}
              <!-- <code [highlight]="">{{htmlCode}}</code>
              <code [highlight]="code" [languages]="['typescript']" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code> -->
            </pre>
          </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            login.component.ts
          </ng-template>
          <div class="mahiContainer">
            <button mat-flat-button color="primary" class="copyCodeBtn"
              (click)="copyCode(tsCode)"><mat-icon>content_copy</mat-icon> Copy
              code</button>
            <pre>{{tsCode}}</pre>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            login.component.scss
          </ng-template>
          <div class="mahiContainer">
            <button mat-flat-button color="primary" class="copyCodeBtn"
              (click)="copyCode(scssCode)"><mat-icon>content_copy</mat-icon>
              Copy code</button>
            <pre>{{scssCode}}</pre>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            app.module.ts
          </ng-template>
          <div class="mahiContainer">
            <button mat-flat-button color="primary" class="copyCodeBtn"
              (click)="copyCode(appModuleCode)"><mat-icon>content_copy</mat-icon>
              Copy code</button>
            <pre>{{appModuleCode}}</pre>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-tab>

</mat-tab-group>