<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">visibility</mat-icon>
            Preview
        </ng-template>
        <div class="mahiContainer">
            <mat-toolbar color="primary">
                <button mat-icon-button class="example-icon"
                    aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>App Name here</span>
                <span class="example-spacer"></span>
                <span>Welcome User</span>
                <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon"
                    aria-label="Example icon-button with menu icon">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>person</mat-icon>
                      <span>Profile</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>settings</mat-icon>
                      <span>Settings</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>logout</mat-icon>
                      <span>Logout</span>
                    </button>
                  </mat-menu>
            </mat-toolbar>
        </div>

    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">code</mat-icon>
            View Code
        </ng-template>
        <div class="mahiContainer">
            <mat-tab-group mat-align-tabs="center">
                <mat-tab>
                    <ng-template mat-tab-label>
                        HTML
                    </ng-template>
                    <div class="mahiContainer">
                        <pre>{{htmlCode}}</pre>
                    </div>

                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        TS
                    </ng-template>
                    <div class="mahiContainer">
                        <pre>{{tsCode}}</pre>
                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        SCSS
                    </ng-template>
                    <div class="mahiContainer">
                        <pre>{{scssCode}}</pre>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </mat-tab>

</mat-tab-group>