<h3 class="blueText">Home</h3>
<div class="example-menu">
    <button class="example-menu-item" routerLink="/">All Blocks One View</button>
    <!--
    <button class="example-menu-item" routerLink="/login/login_two">
        Login Example 02
    </button>
 -->
    <!-- <button class="example-menu-item" routerLink="/login/login_three">
        Login 3 screen
    </button> -->
</div>
<mat-divider class="marginBottom"></mat-divider>
<h3 class="blueText">LOGIN</h3>
<div class="example-menu">
    <button class="example-menu-item" routerLink="/login/login_one">Login
        Example 01</button>
    <!--
    <button class="example-menu-item" routerLink="/login/login_two">
        Login Example 02
    </button>
 -->
    <!-- <button class="example-menu-item" routerLink="/login/login_three">
        Login 3 screen
    </button> -->
</div>
<mat-divider class="marginBottom"></mat-divider>
<h3 class="blueText">DASHBOARD</h3>
<div class="example-menu">
    <button class="example-menu-item" routerLink="/dashboard/dashboard_one">
        Dashboard Example 01
    </button>
    <button class="example-menu-item" routerLink="/dashboard/dashboard_two">
        Dashboard Example 02
    </button>
    <!-- <button class="example-menu-item" routerLink="/header/header_three">
        Header 3 screen
    </button> -->
</div>
<mat-divider class="marginBottom"></mat-divider>
<h3 class="blueText">HEADER</h3>
<div class="example-menu">
    <button class="example-menu-item" routerLink="/header/header_one">
        Header Example 01
    </button>
    <button class="example-menu-item" routerLink="/header/header_two">
        Header Example 02
    </button>
    <button class="example-menu-item" routerLink="/header/header_three">
        Header Example 03
    </button>
</div>
<mat-divider class="marginBottom"></mat-divider>
<h3 class="blueText">FOOTER</h3>
<div class="example-menu">
    <button class="example-menu-item" routerLink="/footer/footer_one">
        Footer Example 01
    </button>
    <button class="example-menu-item" routerLink="/footer/footer_two">
        Footer Example 02
    </button>
    <!-- <button class="example-menu-item" routerLink="/footer/footer_three">
        Footer 3 screen
    </button> -->
</div>
<mat-divider class="marginBottom"></mat-divider>
<h3 class="blueText">BLOG</h3>
<div class="example-menu">
    <button class="example-menu-item" routerLink="/blog/blog_one">
        Blog Example 01
    </button>
    <button class="example-menu-item" routerLink="/blog/blog_two">
        Blog Example 02
    </button>
    <!-- <button class="example-menu-item" routerLink="/blog/blog_three">
        Blog 3 screen
    </button> -->
</div>
<mat-divider class="marginBottom"></mat-divider>
<h3 class="blueText">ICONS</h3>
<div class="example-menu">
    <button class="example-menu-item" routerLink="/icons/materialicons">
        Material Icons
    </button>
</div>
<mat-divider class="marginBottom"></mat-divider>