<h3>LOGIN</h3>
<div class="example-button-row">
    <button mat-button>
        Login 1 screen
    </button>
    <br>
    <button mat-button>
        Login 2 screen
    </button>
    <br>
    <button mat-button>
        Login 3 screen
    </button>
</div>
<mat-divider class="marginBottom"></mat-divider>
<h3>HEADER</h3>
<div class="example-button-row">
    <button mat-button>
        Header 1 screen
    </button>
    <br>
    <button mat-button>
        Header 2 screen
    </button>
    <br>
    <button mat-button>
        Header 3 screen
    </button>
</div>
<mat-divider class="marginBottom"></mat-divider>
<h3>FOOTER</h3>
<div class="example-button-row">
    <button mat-button>
        Footer 1 screen
    </button>
    <br>
    <button mat-button>
        Footer 2 screen
    </button>
    <br>
    <button mat-button>
        Footer 3 screen
    </button>
</div>
<mat-divider class="marginBottom"></mat-divider>
<h3>BLOG</h3>
<div class="example-button-row">
    <button mat-button>
        Blog 1 screen
    </button>
    <br>
    <button mat-button>
        Blog 2 screen
    </button>
    <br>
    <button mat-button>
        Blog 3 screen
    </button>
</div>
<mat-divider class="marginBottom"></mat-divider>