<h3>LOGIN</h3>
<div class="example-button-row">
    <button mat-button routerLink="/login/login_one">
        Login 1 screen
    </button>
    <br>
    <button mat-button routerLink="/login/login_two">
        Login 2 screen
    </button>
    <br>
    <!-- <button mat-button routerLink="/login/login_three">
        Login 3 screen
    </button> -->
</div>
<mat-divider class="marginBottom"></mat-divider>
<h3>HEADER</h3>
<div class="example-button-row">
    <button mat-button routerLink="/header/header_one">
        Header 1 screen
    </button>
    <br>
    <button mat-button routerLink="/header/header_two">
        Header 2 screen
    </button>
    <br>
    <!-- <button mat-button routerLink="/header/header_three">
        Header 3 screen
    </button> -->
</div>
<mat-divider class="marginBottom"></mat-divider>
<h3>FOOTER</h3>
<div class="example-button-row">
    <button mat-button  routerLink="/footer/footer_one">
        Footer 1 screen
    </button>
    <br>
    <button mat-button routerLink="/footer/footer_two">
        Footer 2 screen
    </button>
    <br>
    <!-- <button mat-button routerLink="/footer/footer_three">
        Footer 3 screen
    </button> -->
</div>
<mat-divider class="marginBottom"></mat-divider>
<h3>BLOG</h3>
<div class="example-button-row">
    <button mat-button routerLink="/blog/blog_one">
        Blog 1 screen
    </button>
    <br>
    <button mat-button routerLink="/blog/blog_two">
        Blog 2 screen
    </button>
    <br>
    <!-- <button mat-button routerLink="/blog/blog_three">
        Blog 3 screen
    </button> -->
</div>
<mat-divider class="marginBottom"></mat-divider>