.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  overflow: hidden;
}

.dashboard-card-content {
  text-align: center;
  align-content: center;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
