<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" (click)="drawer.toggle()"
    aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Mahi Material Blocks</span>
  <span class="example-spacer"></span>

  <span>Welcome Mahipal</span>

</mat-toolbar>

<mat-drawer-container class="example-container bkgdColor" autosize>
  <mat-drawer [(opened)]="IsDrawer" #drawer class="example-sidenav" mode="side">
    <app-menus></app-menus>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>