<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">visibility</mat-icon>
            Preview
        </ng-template>
        <div class="mahiContainer">
            <div class="grid-container">
                <h1 class="mat-h1">Dashboard 1</h1>
                <mat-grid-list cols="2" rowHeight="350px">
                  <!-- Card1 -->
                  <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-card class="dashboard-card">
                      <mat-card-header>
                        <mat-card-title>
                          Card 1
                          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item>Expand</button>
                            <button mat-menu-item>Remove</button>
                          </mat-menu>
                        </mat-card-title>
                      </mat-card-header>
                      <mat-card-content class="dashboard-card-content">
                        <div>Card Content Here</div>
                      </mat-card-content>
                    </mat-card>
                  </mat-grid-tile>
              
                  <!-- Card2 -->
                  <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-card class="dashboard-card">
                      <mat-card-header>
                        <mat-card-title>
                          Card 2
                          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item>Expand</button>
                            <button mat-menu-item>Remove</button>
                          </mat-menu>
                        </mat-card-title>
                      </mat-card-header>
                      <mat-card-content class="dashboard-card-content">
                        <div>Card Content Here</div>
                      </mat-card-content>
                    </mat-card>
                  </mat-grid-tile>
              
                  <!-- Card3 -->
                  <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-card class="dashboard-card">
                      <mat-card-header>
                        <mat-card-title>
                          Card 3
                          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item>Expand</button>
                            <button mat-menu-item>Remove</button>
                          </mat-menu>
                        </mat-card-title>
                      </mat-card-header>
                      <mat-card-content class="dashboard-card-content">
                        <div>Card Content Here</div>
                      </mat-card-content>
                    </mat-card>
                  </mat-grid-tile>
              
                  <!-- Card4 -->
                  <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-card class="dashboard-card">
                      <mat-card-header>
                        <mat-card-title>
                          Card 4
                          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item>Expand</button>
                            <button mat-menu-item>Remove</button>
                          </mat-menu>
                        </mat-card-title>
                      </mat-card-header>
                      <mat-card-content class="dashboard-card-content">
                        <div>Card Content Here</div>
                      </mat-card-content>
                    </mat-card>
                  </mat-grid-tile>
              
                  <!-- Card5 -->
                  <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-card class="dashboard-card">
                      <mat-card-header>
                        <mat-card-title>
                          Card 5
                          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item>Expand</button>
                            <button mat-menu-item>Remove</button>
                          </mat-menu>
                        </mat-card-title>
                      </mat-card-header>
                      <mat-card-content class="dashboard-card-content">
                        <div>Card Content Here</div>
                      </mat-card-content>
                    </mat-card>
                  </mat-grid-tile>
              
                </mat-grid-list>
              </div>
        </div>

    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">code</mat-icon>
            View Code
        </ng-template>
        <div class="mahiContainer">
            <mat-tab-group mat-align-tabs="center">
                <mat-tab>
                    <ng-template mat-tab-label>
                        HTML
                    </ng-template>
                    <div class="mahiContainer">
                        <button mat-flat-button color="primary" class="copyCodeBtn" (click)="copyCode(htmlCode)"><mat-icon>content_copy</mat-icon> Copy code</button>
                        <pre>{{htmlCode}}</pre>
                    </div>

                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        TS
                    </ng-template>
                    <div class="mahiContainer">
                        <button mat-flat-button color="primary" class="copyCodeBtn" (click)="copyCode(tsCode)"><mat-icon>content_copy</mat-icon> Copy code</button>
                        <pre>{{tsCode}}</pre>
                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        SCSS
                    </ng-template>
                    <div class="mahiContainer">
                        <button mat-flat-button color="primary" class="copyCodeBtn" (click)="copyCode(scssCode)"><mat-icon>content_copy</mat-icon> Copy code</button>
                        <pre>{{scssCode}}</pre>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </mat-tab>

</mat-tab-group>
